footer.grey.darken-4.py-4.mt-4
	.container
		.row.m-0
			.col.s12.l6
				.row.m-0.center-align
					.col.s12.m3
						p
							a.white-text(href="#") INICIO
					.col.s12.m3
						p
							a.white-text(href="#") NOSOTROS
					.col.s12.m3
						p
							a.white-text(href="#") ANUNCIOS
					.col.s12.m3
						p
							a.white-text(href="#") CONTACTO
			.col.s12.l4.xl3.offset-l2.offset-xl3
				p.grey-text.center-align #{new Date().getFullYear()} Derechos reservados