extends ./pug/templates/template
block home
   //- ------------------------------------------------------------------------ -//
   //-                                  header                                  -//
   //- ------------------------------------------------------------------------ -//
   header.header
      .slider
         ul.slides
            li.slider-item.slider-item-1
               img(src="./assets/img/slide1.jpg" alt="Primer slide")
               .caption.center-align.slider-caption
                  .row
                     .col.l6
                        h3.heading-1.left-align Casa de lujo en Zona Exclusiva
                     .col.s12.l4.offset-l2
                        h5.teal.p-2.heading-2 EN VENTA
                        p.flow-text $ 125,000
                        a.btn.btn-orange.btn-block.bold(href="#") mas información
            li.slider-item
               img(src="./assets/img/slide2.jpg" alt="Segundo slide")
               .caption.center-align.slider-caption
                  h3.heading-1 Encuentra propiedades de lujo
   main
      //- about us
      section.about-us.py-4
         h4.center-align.mb-4 Más sobre nosotros
         .container.center-align
            .row
               .col.s12.m4
                  span.icon.security
                  h6.font-w-bold SEGURIDAD
                  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium illum aliquid iure excepturi velit quos?
               .col.s12.m4
                  span.icon.price
                  h6.font-w-bold EL MEJOR PRECIO
                  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium illum aliquid iure excepturi velit quos?
               .col.s12.m4
                  span.icon.time
                  h6.font-w-bold DISPONIBILIDAD INMEDIATA
                  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium illum aliquid iure excepturi velit quos?
      //- houses
      section.py-4
         .container
            h4.center-align.mb-4 Casas y departamentos en venta
            .row
               .col.s12.m6.l4
                  +advertisement('anuncio1.jpg', 'Casa en zona de lujo', '125,000', '#', [3,3,2])
               .col.s12.m6.l4
                  +advertisement('anuncio2.jpg', 'Casa en zona de lujo', '125,000', '#', [3,3,2])
               .col.s12.m6.l4
                  +advertisement('anuncio3.jpg', 'Casa en zona de lujo', '125,000', '#', [3,3,2])
               .col.s12.m6.l4
                  +advertisement('anuncio4.jpg', 'Casa en zona de lujo', '125,000', '#', [3,3,2])
               .col.s12.m6.l4
                  +advertisement('anuncio5.jpg', 'Casa en zona de lujo', '125,000', '#', [3,3,2])
               .col.s12.m6.l4
                  +advertisement('anuncio6.jpg', 'Casa en zona de lujo', '125,000', '#', [3,3,2])
      //- banner
      section.banner.py-4.my-4
         .container
            h3.white-text.heading Encuentra la case de tus sueños
            p.white-text.mb-5 LLena los formularios de contacto y un asesor se pondra en contacto contigo a la brevedad
            a.waves-effect.waves-light.btn-large.btn-orange(href='#') Contactanos
      //- blog
      section.py-4
         .container
            .row
               .col.s12.l8
                  h4.center-align.mb-4 Nuestro blog
                  +post('blog1.jpg', 'Terraza en el techo de tu casa', {date: '20/10/21', user: 'Admin'}, '#')
                  +post('blog2.jpg', 'Guia para decorar tu casa', {date: '20/12/21', user: 'Admin'}, '#')
               .col.s12.m8.l4.offset-m2
                  h4.center-align.mb-4 Testimoniales
                  .slider.testimonials
                     ul.slides.teal.white-text
                        li
                           .caption.left-align
                              p.paragraph Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel distinctio sunt eos nemo voluptatibus quasi veniam dolor delectus, tenetur autem!
                              p.author.right-align - Persona 1
                        li
                           .caption.left-align
                              p.paragraph Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae vel architecto quasi nemo nam fugit! 
                              p.author.right-align - Persona 2
                        li
                           .caption.left-align
                              p.paragraph Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae vel architecto quasi nemo nam fugit! 
                              p.author.right-align - Persona 3
